@import "base";
@import "colors";

body {
  background: url("../images/bg-pattern-top.svg") no-repeat left -95vw top -70vw /
      150vw,
    url("../images/bg-pattern-bottom.svg") no-repeat left 50vw bottom -70vw / 150vw;
  background-color: $dark-cyan;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card {
    width: 85vw;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 20px 20px 50px rgba(17, 9, 48, 0.2);

    .head-bg {
      height: 150px;
      width: 100%;
      border-radius: 10px 10px 0 0;
      background-image: url("../images/bg-pattern-card.svg");
    }

    img {
      position: relative;
      top: -48px;
      border: 5px solid #fff;
      border-radius: 50%;
    }

    .identity {
      margin: -28px auto 5px auto;
      display: flex;
      align-items: center;
      justify-items: center;

      h3,
      p {
        line-height: 25px;
        font-size: 18px;
      }

      .age {
        color: $dark-gray-blue;
        padding-left: 10px;
      }
    }

    .location {
      font-size: 14px;
      margin-bottom: 20px;
      color: $dark-gray-blue;
    }

    .stats {
      display: flex;
      text-align: center;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      padding: 20px;
      border-top: 1px solid hsla(0, 0, 0, 10%);

      .photos,
      .likes,
      .followers {
        flex: 1;
      }

      .category {
        font-size: 11px;
        letter-spacing: 2px;
        color: $dark-gray-blue;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  margin-top: 50px;
  width: 85vw;

  a {
    color: hsl(228, 45%, 44%);
  }
}

@media (max-height: 600px) and (orientation: landscape) {
  .container {
    height: auto; //can't center card within screen height since the card is higher than view height
    padding: 50px 0;
  }
}

@media (min-width: 1200px) {
  body {
    background: url("../images/bg-pattern-top.svg") no-repeat left -40vw top -50vw /
        90vw,
      url("../images/bg-pattern-bottom.svg") no-repeat left 50vw bottom -50vw / 90vw;
    background-color: $dark-cyan;
  }
}
